<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a Post</title>
</head>
<body>
    <h1>Create a Post</h1>
    <form action="/create-post" method="post">
        <label for="postTitle">Title: </label>
        <input type="text" name="postTitle" id="postTitle">
        <label for="postText">What's on your mind?</label>
        <input type="text" name="postText" id="postText">
        <button type="submit">Submit</button>
    </form>
</body>
</html>