<div id="header">
    <h1>MemO</h1>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="https://www.linkedin.com/in/gsincodes/">LinkedIn</a></li>
        <li><a href="https://github.com/gsincodes">Github</a></li>
    </ul>
</div>
