#header {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header > h1 {
    display: inline-block;
    margin: 0px;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
    color: #333333;
}

#header > ul {
    list-style: none;
    display: inline-block;
    margin: 0px;
    font-size: 14px;
    cursor: pointer;
    color: #333333;
}

#header > ul > li {
    display: inline-block;
    margin-left: 20px;
}